@use "./base.scss";

// put your custom CSS here!

.page-listing {
  display: none;
}

@use "./base.scss";

.folder-contents {
  display: none;
}

body[data-slug$="/index"] .page-listing {
  display: none;
}
